body{

    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    
}

.name_high{
    
    color:rgb(179, 212, 28) ;
}

.half_part{

    width: 40%;
    float: left;
    margin-left: 2%;
    padding: 4%;

}
.half_part img{
    width: 100%;
    padding-top: 15%;
}
.top_banner{
    background-image: url(img/top-banner.png);
    height: 50px;
}